In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [66]:
phones = pd.read_excel('/Users/stellarnode/OneDrive/MTS/mts innovation center/crm/for mts crm/customer_20191101103559_telephones_and_dates_correct format.xlsx')

In [67]:
phones.head()

,ID,Телефон,ID Пользователя,Часовой пояс,Дата регистрации на платформе,Дата первого урока,Split_1,Split_2,Unnamed: 8,Unnamed: 9
0,18130,+7(915)420-24-68,18191.0,3.0,21.05.2019,29.05.2019,+7(915)420-24-68,NaN,NaN,NaN
1,12593,+7(962)714-15-18,12638.0,3.0,05.04.2019,13.06.2019,+7(962)714-15-18,NaN,NaN,NaN
2,9155,+7(922)422-27-57,9187.0,5.0,12.01.2019,23.01.2019,+7(922)422-27-57,NaN,NaN,NaN
3,1055,+7(977)832-88-27,1081.0,3.0,19.10.2018,12.11.2018,+7(977)832-88-27,NaN,NaN,NaN
4,18144,+7(905)753-56-43,18205.0,3.0,21.05.2019,27.06.2019,+7(905)753-56-43,NaN,NaN,NaN

In [68]:
phones['SplitA'] = phones['Телефон'].apply(lambda x: str(x).split(", ")[0])

In [69]:
phones.head()

,ID,Телефон,ID Пользователя,Часовой пояс,Дата регистрации на платформе,Дата первого урока,Split_1,Split_2,Unnamed: 8,Unnamed: 9,SplitA
0,18130,+7(915)420-24-68,18191.0,3.0,21.05.2019,29.05.2019,+7(915)420-24-68,NaN,NaN,NaN,+7(915)420-24-68
1,12593,+7(962)714-15-18,12638.0,3.0,05.04.2019,13.06.2019,+7(962)714-15-18,NaN,NaN,NaN,+7(962)714-15-18
2,9155,+7(922)422-27-57,9187.0,5.0,12.01.2019,23.01.2019,+7(922)422-27-57,NaN,NaN,NaN,+7(922)422-27-57
3,1055,+7(977)832-88-27,1081.0,3.0,19.10.2018,12.11.2018,+7(977)832-88-27,NaN,NaN,NaN,+7(977)832-88-27
4,18144,+7(905)753-56-43,18205.0,3.0,21.05.2019,27.06.2019,+7(905)753-56-43,NaN,NaN,NaN,+7(905)753-56-43

In [70]:
def double_check(x):
    return "," in x

In [71]:
phones['SplitB'] = phones['Телефон'].apply(lambda x: str(x).split(", ")[1] if double_check(x) else "")

In [72]:
phones['SplitC'] = phones['Телефон'].apply(lambda x: str(x).split(", ")[2] if double_check(x) and len(str(x).split(", ")) > 2 else "")

In [73]:
phones['SplitA_clean'] = phones['SplitA'].apply(lambda x: "".join(re.findall("\d", x)))

In [74]:
phones['SplitB_clean'] = phones['SplitB'].apply(lambda x: "".join(re.findall("\d", x)))

In [75]:
phones['SplitC_clean'] = phones['SplitC'].apply(lambda x: "".join(re.findall("\d", x)))

In [76]:
phones['SplitB_clean'].head()

0
1
2
3
4
Name: SplitB_clean, dtype: object

In [77]:
phones.to_excel('/Users/stellarnode/Desktop/test.xlsx')