In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [2]:
report = pd.read_csv('/Users/stellarnode/OneDrive/MTS/mts innovation center/partners/voximplant/reports/call_history_2018-01-01_(425318).csv', delimiter = ';', low_memory = False)

In [3]:
# call_duration is quoted in seconds!

In [4]:
report.head(10)

,session_id,account_id,application_id,user_id,session_start_date (Etc/GMT),session_duration,session_rule_name,session_initiator_address,session_media_server_address,session_log_file_url,...,record_start_time,record_duration,record_cost,record_transaction_id,record_name,record_url,transcription_url,transcription_status,record_file_size,record_removed
0,448879801,1930006,3732648,1336191,2018-12-27 09:02:46,601.0,Main,217.69.194.190,185.164.148.236,http://www-ru-19-236.voximplant.com/logs/2018/...,...,2018-12-27 09:02:46,599.0,"9,572042",8.609255e+09,Call Recorder,https://storage-ru1-radosgw2.voximplant.com/vo...,NaN,Not required,120563.0,no
1,448879801,1930006,3732648,1336191,2018-12-27 09:02:46,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,448879801,1930006,3732648,1336191,2018-12-27 09:02:46,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,448879801,1930006,3732648,1336191,2018-12-27 09:02:46,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,448879801,1930006,3732648,1336191,2018-12-27 09:02:46,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,448850297,1930006,3732648,1336191,2018-12-27 08:50:00,507.0,Main,217.69.194.190,185.164.148.248,http://www-ru-12-248.voximplant.com/logs/2018/...,...,2018-12-27 08:50:01,506.0,"8,030781",8.608838e+09,Call Recorder,https://storage-ru1-radosgw2.voximplant.com/vo...,NaN,Not required,101032.0,no
6,448850297,1930006,3732648,1336191,2018-12-27 08:50:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,448850297,1930006,3732648,1336191,2018-12-27 08:50:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,448850297,1930006,3732648,1336191,2018-12-27 08:50:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,448850297,1930006,3732648,1336191,2018-12-27 08:50:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
report.describe()

,session_id,account_id,application_id,user_id,session_duration,call_id,call_remote_number_type,call_duration,call_transaction_id,resource_id,resource_transaction_id,resource_quantity,resource_call_id,record_id,record_duration,record_transaction_id,transcription_url,record_file_size
count,9.264470e+05,926447.0,9.264470e+05,9.264470e+05,425318.000000,8.504940e+05,850494.0,850494.000000,8.504940e+05,1.110200e+04,1.110200e+04,1.110200e+04,1.110200e+04,6.485100e+04,64851.000000,6.485100e+04,0.0,6.485100e+04
mean,3.546273e+08,1930006.0,4.527203e+06,9.557041e+05,26.363079,3.137125e+08,2.0,25.375209,7.014222e+09,1.800720e+07,7.071815e+09,1.823365e+05,3.169203e+08,7.393881e+07,128.870226,6.664278e+09,NaN,7.585896e+03
std,5.500713e+07,0.0,3.848089e+05,1.999361e+05,389.603960,5.022412e+07,0.0,389.568894,9.865920e+08,5.615438e+06,1.007727e+09,3.951293e+05,5.088458e+07,1.146026e+07,566.145709,9.493249e+08,NaN,7.828792e+04
min,1.816021e+07,1930006.0,3.732648e+06,3.739240e+05,0.000000,1.506279e+08,2.0,0.000000,2.187219e+08,8.746319e+06,2.188831e+08,1.000000e+00,2.318087e+08,5.862681e+07,0.000000,2.187218e+08,NaN,0.000000e+00
25%,3.054586e+08,1930006.0,4.713569e+06,7.568020e+05,0.000000,2.679835e+08,2.0,0.000000,6.127425e+09,1.280004e+07,6.204933e+09,2.794500e+03,2.717804e+08,6.400728e+07,0.000000,5.840517e+09,NaN,0.000000e+00
50%,3.467981e+08,1930006.0,4.713569e+06,9.426370e+05,0.000000,3.075538e+08,2.0,0.000000,6.921262e+09,1.848116e+07,7.092510e+09,2.501600e+04,3.161437e+08,6.975731e+07,0.000000,6.338457e+09,NaN,0.000000e+00
75%,4.054018e+08,1930006.0,4.713569e+06,1.098503e+06,1.000000,3.599831e+08,2.0,0.000000,7.922198e+09,2.326939e+07,8.001274e+09,1.868945e+05,3.644255e+08,8.269308e+07,0.000000,7.401566e+09,NaN,0.000000e+00
max,4.488798e+08,1930006.0,4.713569e+06,1.348751e+06,85876.000000,3.976274e+08,2.0,85875.000000,8.609255e+09,2.639506e+07,8.609255e+09,5.516175e+06,3.976274e+08,9.789942e+07,13634.000000,8.609255e+09,NaN,4.593939e+06

In [6]:
report['call_duration'].sum() / 60 / 60

5994.850833333333

In [7]:
report[report['session_id'] == 448850297]['call_remote_number']

5           NaN
6           NaN
7    9152703958
8    3335554463
9           NaN
Name: call_remote_number, dtype: object

In [8]:
report[report['session_id'] == 448850297]['call_local_number']

5           NaN
6           NaN
7    3335554463
8    9152703958
9           NaN
Name: call_local_number, dtype: object

In [9]:
report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926447 entries, 0 to 926446
Data columns (total 45 columns):
session_id                      926447 non-null int64
account_id                      926447 non-null int64
application_id                  926447 non-null int64
user_id                         926447 non-null int64
session_start_date (Etc/GMT)    926447 non-null object
session_duration                425318 non-null float64
session_rule_name               425318 non-null object
session_initiator_address       425318 non-null object
session_media_server_address    425318 non-null object
session_log_file_url            80929 non-null object
session_custom_data             3231 non-null object
session_finish_reason           425318 non-null object
call_id                         850494 non-null float64
call_remote_number              850494 non-null object
call_remote_number_type         850494 non-null float64
call_start_time                 850494 non-null object
call_duration                   850494 non-null float64
call_successful                 850494 non-null object
call_incoming                   850494 non-null object
call_transaction_id             850494 non-null float64
call_direction                  45836 non-null object
call_local_number               850494 non-null object
call_record_url                 38761 non-null object
call_cost                       850494 non-null object
call_custom_data                3231 non-null object
resource_id                     11102 non-null float64
resource_type                   11102 non-null object
resource_cost                   11102 non-null object
resource_description            11102 non-null object
resource_used_at                11102 non-null object
resource_transaction_id         11102 non-null float64
resource_unit                   11102 non-null object
resource_quantity               11102 non-null float64
resource_call_id                11102 non-null float64
record_id                       64851 non-null float64
record_start_time               64851 non-null object
record_duration                 64851 non-null float64
record_cost                     64851 non-null object
record_transaction_id           64851 non-null float64
record_name                     64851 non-null object
record_url                      64851 non-null object
transcription_url               0 non-null float64
transcription_status            64851 non-null object
record_file_size                64851 non-null float64
record_removed                  64851 non-null object
dtypes: float64(14), int64(4), object(27)
memory usage: 318.1+ MB

In [10]:
report[report['call_local_number'] == '9851943407']['call_duration']

283       3300.0
19314     3601.0
44363     4058.0
64859     4521.0
100998      14.0
101007    2084.0
101012    1053.0
113064     747.0
113070       0.0
113072       0.0
113075       0.0
113078       0.0
113084    1424.0
113086     101.0
113094      15.0
113099     172.0
113104     233.0
113107       0.0
113112     138.0
122686      25.0
122691       0.0
122695      26.0
133370    2748.0
133375       0.0
133377       0.0
133384     657.0
144911    3062.0
144914       0.0
Name: call_duration, dtype: float64

In [11]:
# total number of hours used
report['call_duration'].sum() / 60 / 60

5994.850833333333

In [12]:
# cost in rubles @ 2.77 per minute WITHOUT volume discounts
report['call_duration'].sum() / 60 * 2.77

996344.2085

In [13]:
type(report["session_start_date (Etc/GMT)"][0])

str

In [14]:
report['start_datetime'] = report["session_start_date (Etc/GMT)"].apply(lambda x: datetime.fromisoformat(x))

In [15]:
report['start_datetime'][0]

Timestamp('2018-12-27 09:02:46')

In [25]:
report['start_month'] = report['start_datetime'].apply(lambda x: x.month)

In [26]:
# report['start_month'] = report['start_datetime'].apply(lambda x: str(x.month) + '-' + str(x.year))

In [27]:
report.groupby('start_month')['call_duration'].sum() / 60 / 60

start_month
1        4.325833
2       42.347500
3       84.731111
4      136.966389
5      263.116944
6      396.767500
7     1019.730556
8      667.571667
9      814.699167
10     750.394444
11     907.834722
12     906.365000
Name: call_duration, dtype: float64

In [20]:
report.groupby('start_month')['record_file_size'].sum() / 1024 / 1024

start_month
1       0.000000
2       0.000000
3       0.000000
4       0.000000
5       0.000000
6       0.000000
7       0.000000
8       0.000000
9       0.000000
10    118.011095
11    163.515932
12    187.635857
Name: record_file_size, dtype: float64

In [ ]:
report.groupby('start_month')['call_duration'].sum()

In [20]:
(report.groupby('call_local_number')['call_duration'].sum() / 60 / 60).sort_values(ascending = False)

call_local_number
2005551230    202.003611
9522758313    192.054444
9788109423    175.392222
9153752171    160.411111
9788109419    150.335000
2005551231    138.579167
9152003638    120.615833
9168403829    114.130000
9687429202    101.489722
9638710924     88.901944
9267511375     83.042778
6666655555     71.358056
9855609354     70.604167
1234567899     63.812500
6666600001     62.349167
2005551280     59.684167
9137751162     59.513056
9101341310     51.804167
9151983949     51.331111
9502260669     51.296667
9859907395     50.893333
9186501020     50.882778
9265810752     49.837778
9999922223     48.132778
0000000001     47.630278
1000006666     45.982778
1000005555     45.947778
9536080859     41.098611
9999922221     40.806389
2005551244     40.693611
                 ...
9999999906      0.000000
8888888869      0.000000
66666222        0.000000
9128662524      0.000000
9999999910      0.000000
9999999970      0.000000
9999999994      0.000000
9249356800      0.000000
9152700120      0.000000
9619633391      0.000000
9199682900      0.000000
9141790705      0.000000
1234512026      0.000000
9109059493      0.000000
9160518344      0.000000
9161144265      0.000000
9851620248      0.000000
9784444444      0.000000
9780000221      0.000000
1111111113      0.000000
9780000062      0.000000
9771826791      0.000000
1110000021      0.000000
1110000015      0.000000
1110000014      0.000000
3335554452      0.000000
9082725420      0.000000
9080590115      0.000000
1110000006      0.000000
9286313574      0.000000
Name: call_duration, Length: 1204, dtype: float64

In [23]:
report.groupby('session_rule_name')['call_duration'].sum() / 60 / 60

session_rule_name
Main     1495.333889
test2     317.953889
Name: call_duration, dtype: float64

In [24]:
report['session_rule_name'].head()

0    Main
1     NaN
2     NaN
3     NaN
4     NaN
Name: session_rule_name, dtype: object

In [26]:
report['record_file_size'].sum()

491952940.0

In [28]:
report[['session_initiator_address', 'session_media_server_address']].head()

  session_initiator_address session_media_server_address
0            217.69.194.190              185.164.148.236
1                       NaN                          NaN
2                       NaN                          NaN
3                       NaN                          NaN
4                       NaN                          NaN

In [29]:
report[report['session_rule_name'].notnull()].groupby('start_month')['call_duration'].sum() / 60 / 60

start_month
1       2.163056
2      21.175833
3      42.367500
4      68.484444
5     131.559722
6     128.652222
7     412.901111
8     212.294444
9     233.228056
10    186.187500
11    203.223333
12    171.050556
Name: call_duration, dtype: float64

In [32]:
report[report['session_rule_name'].notnull()]['call_duration'].sum() / 60 / 60

1813.2877777777778